---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { Image } from 'astro:assets'
import imagen2 from '../img/foto-portfolio2.png'
import LinkedInIcon from '../components/icons/LinkedIn.astro'
import SocialPill from '../components/SocialPill.astro'
import GithubIcon from '../components/icons/Github.astro'
import MailIcon from '../components/icons/Mail.astro'
import BriefCaseIcon from '../components/icons/BriefCaseIcon.astro'
import ProjectIcon from '../components/icons/ProjectIcon.astro'
import TecnologiaIcon from '../components/icons/TecnologiaIcon.astro'
import Experience from '../components/Experience.astro'
import SectionContainer from '../components/SectionContainer.astro'
import Projects from '../components/Projects.astro'
import Tecnologias from '../components/Tecnologias.astro'

---

<Layout title="Portafolio Diego Enciso - Desarrolador y Programador Web"
	description="Portafolio de Diego Enciso."
>
	<main class="px-4">
		<SectionContainer  class="py-40 pb-[12rem] flex">
			 <div class="self-center mr-6">
				<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-8">Hola! Soy Diego Enciso.</h1>
				<h2 class="text-xl lg:text-2xl  text-wrap max-w-[700px]" >
				 <span class="text-green-400">Desarrollador Web y Estudiante de Ingeniería Informática. </span>
				 <span class="opacity-80">Experiencia con proyectos personales y para empresas.
				 Buscando siempre aprender más y marcar mi camino como programador. </span>	
				</h2>
				<nav class="flex gap-4 mt-8 flex-wrap">
					<SocialPill href="https://www.linkedin.com/in/diego-enciso-b72183232/">
						<LinkedInIcon class="size-4 md:size-6"/>
							LinkedIn</a>
					</SocialPill>

					<SocialPill href="https://github.com/diegencisog">
						<GithubIcon class="size-4 md:size-6"/>
							Github</a>
					</SocialPill>

					<SocialPill href="mailto:diegencisog@gmail.com">
						<MailIcon class="size-4 md:size-6"/>
							diegencisog@gmail.com</a>
					</SocialPill>
						
						
				</nav>

			 </div>
			
			<Image class='lg:block lg:rounded-3xl lg:w-80 hidden' src= {imagen2}  alt="logo del portafolio"/>	
		</SectionContainer>

		<SectionContainer id="experiencia" class="pb-24" >
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center justify-center lg:justify-normal">
				<BriefCaseIcon class="size-7"/>
				Experiencia Laboral</h2>

			<Experience />
			
		</SectionContainer>

		<SectionContainer id="tecnologias"  class="pb-24 flex flex-col">
			<h2 class="text-3xl font-semibold mb-7 flex gap-x-3 items-center justify-center">
				<TecnologiaIcon class="size-7"/>
				Tecnologías
			</h2>

			<Tecnologias />
			
		</SectionContainer>

		<SectionContainer id="proyectos"  class="pb-24">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<ProjectIcon class="size-7"/>
				Proyectos
			</h2>

			<Projects />
			
		</SectionContainer>
		
	</main>
</Layout>
