---
import { Code, Debug } from "astro:components"
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
    {
        title: 'Desarrollo Ecommerce - DermaX',
        description: 'Desarrollo de un Ecommerce para la empresa DermaX. (www.dermax.com.py)'/*Mejorar descripciones*/ ,
        
    },
    {
        title: 'Desarollo web - CasaDeco',
        description: 'Pagina web para un catálogo de productos de la empresa Casadeco.',
        
    },
    {
        title: 'Invitaciones web - La Emperatriz',
        description: 'Invitaciones digitales para casamientos, quinceaños, u otros eventos. Hechas con HTML, CSS y JavaScript.'
    }
]
---

    <ol class="relative border-s border-gray-200 lg:ml-3 w-[75%] mx-auto">    
    
    {
        EXPERIENCE.map((experience) => (
        
            <li class="mb-10 ms-4">
                <ExperienceItem {...experience}/>
            </li>
        ))
    }            
    
    </ol>

 
