---
import { Code, Debug } from "astro:components"
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
    {
        date: 'Junio 2024 - Actualidad',
        title: 'Full Stack Developer Jr en CodeLab (Actualidad)',
        description: 'Trabajo en conjunto con la Dirección Nacional de Contrataciones Públicas (DNCP) para el desarrollo del Portal de Contrataciones Públicas del Paraguay. \n Desarrollo de frontend y backend con PHP Symfony y Python. \n Manejo y mantenimiento de bases de datos con PostgreSql.'/*Mejorar descripciones*/ ,
        link: 'https://www.contrataciones.gov.py'
    },
    {
        date: 'Agosto 2024',
        title: 'Página Web - BestCorp',
        description: 'Desarrollo y diseño de la página web para la empresa BestCorp. Desarrollado con Wordpress, PHP y CSS.'/*Mejorar descripciones*/ ,
        link: 'https://bestcorp.com.py'
    },
    {
        date: 'Abril 2024',
        title: 'Desarrollo Ecommerce - DermaX',
        description: 'Desarrollo y diseño de un Ecommerce para la empresa DermaX, integrado con la pasarela de pagos de Bancard. \n Realizado con WordPress y WooCommerce, además de PHP y CSS para personalizar la totalidad de la web a gusto del cliente.'/*Mejorar descripciones*/ ,
        link: 'https://dermax.com.py'
    },
    {
        date: 'Diciembre 2023',
        title: 'Desarollo web - CasaDeco',
        description: 'Pagina web para mostrar un catálogo de productos perteneciente a la empresa Casadeco. Desarrollado con React JS.',
    }
]
---

    <ol class="relative border-s border-gray-200 lg:ml-3 w-[75%] mx-auto">    
    
    {
        EXPERIENCE.map((experience) => (
        
            <li class="mb-10 ms-4">
                <ExperienceItem {...experience}/>
            </li>
        ))
    }            
    
    </ol>

 
