---
import { Image } from 'astro:assets'
import imagen from '../img/foto-portfolio-diego.png' 
import imagen2 from '../img/foto-portfolio2.png'
---

<header class="flex justify-between items-center py-5 w-full xl:w-[1120px] mx-auto">
    
        
        <h2>D. <span class="text-green-700">E.</span></h2>
    
    
    {/* <Image class='rounded-3xl w-80' src= {imagen2}  alt="logo del portafolio"> */}

    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="#top">Inicio</a>
        <a href="#experiencia">Experiencia</a>
        <a href="#proyectos">Proyectos</a> 
        <a href="#sobre-mi">Sobre mi</a>
        <a href="#contacto">Contacto</a>
    </nav>
</header>