---
import { Image } from 'astro:assets'
import imagen from '../img/foto-portfolio-diego.png' 
import imagen2 from '../img/foto-portfolio2.png'
import logo from '../../public/logo.png'
---

<header class="flex  items-center py-5 w-full xl:w-[1120px] justify-center  mx-auto">
    
   { /* <Image class="lg:w-40 lg:rounded-md lg:block hidden " src= {logo}  alt="logo del portafolio"/> */}

    <nav class="flex px-3 text-base font-medium  flex-row  opacity-80  ">
        <a class="relative block px-2 py-2 transition hover:text-green-400" href="#top">Inicio</a>
        <a class="relative block px-2 py-2 transition hover:text-green-400" href="#experiencia">Experiencia</a>
        <a class="relative block px-2 py-2 transition hover:text-green-400" href="#proyectos">Proyectos</a> 
        <a class="relative block px-2 py-2 transition hover:text-green-400" href="#contacto">Contacto</a>
    </nav>


    
</header>





  